@font-face {
    font-family: sonataFont;
    src: url('ref/fonts/Akashi.ttf');
}

body {
    background: #000;
    color: #777;
    margin: 10% auto;
    font-family: monospace;   
}

h1 {
    font-family: sonataFont;
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #fff;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

#com {
    display: inline;
    color: #999;
    font-size: .5em;
}

h2 {
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #777;
}

ul {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #fff;
    width: 300px;
    list-style: none;
}

ul a {
    color: #fff;
}
ul a:hover {
    font-size: 1.1em;
    text-transform: uppercase;
}

/**IDS**/

#footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/**NAVS**/

.navLink {
    color: #aaa;
    text-decoration: underline;
}

.nav:hover + .nav_h{
    display: block;
}
.nav_h {
    display: none;
}